
// block-editor-timeline.less


@import "shared.less";

.webfonts(@fontfolder: '../fonts/');

.normal();


.tijdlijncpt-block-preview {
  background-color: #f3f3f3;
  padding: 1em;

  .timelineToggle {
    display: none;
  }

}


  
  
